#openKassalade, #openWisselgeldPopup {
    display: block !important;
    position: fixed;
    font-size: 22px;
    left: 0;
    bottom: 0;
    padding: 20px 10px;
    margin: 20px;
}

#openKassalade {
    left: 170px;
}

#overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    opacity: 0.8;
    background-color: #000;
    z-index: 100;
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
}

#overlay-prog {
    font-weight: bold;
    font-size: 400px;
}

#overlay-status {
    font-size: 100px;
}